<!-- departement-add.component.html -->

<div class="container">
    <h2>Ajouter un département</h2>
    <form (submit)="ajouterDepartement()">
      <div class="form-group">
        <label for="nomDepartement">Nom du département:</label>
        <input type="text" id="nomDepartement" [(ngModel)]="nouveauDepartement.nomDepartement" name="nomDepartement" required>
      </div>
  
      <div class="form-group">
        <label for="responsable">Responsable:</label>
        <input type="text" id="responsable" [(ngModel)]="nouveauDepartement.responsable" name="responsable" required>
      </div>
  
      <div class="form-group">
        <label for="nombreProfesseurs">Nombre de professeurs:</label>
        <input type="number" id="nombreProfesseurs" [(ngModel)]="nouveauDepartement.nombreProfesseurs" name="nombreProfesseurs" required>
      </div>

      <div class="form-group">
        <label for="specialite">specialite:</label>
        <input type="text" id="specialite" [(ngModel)]="nouveauDepartement.specialite" name="specialite" required>
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Ajouter Département</button>
      </div>
    </form>
  </div>
  