<!-- universite-add.component.html -->

<div class="container">
    <h2>Ajouter une université</h2>
    <form (submit)="ajouterUniversite()">
      <div class="form-group">
        <label for="nom">Nom de l'université:</label>
        <input type="text" id="nom" [(ngModel)]="nouvelleUniversite.nomUniversite" name="nom" required>
      </div>
  
      <div class="form-group">
        <label for="adresse">Adresse:</label>
        <input type="text" id="adresse" [(ngModel)]="nouvelleUniversite.adresse" name="adresse" required>
      </div>
  
      <div class="form-group">
        <label for="etat">État de l'université:</label>
        <select id="etat" [(ngModel)]="nouvelleUniversite.etatUniversite" name="etat" required>
          <option value="public">Public</option>
          <option value="prive">Privé</option>
        </select>
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Ajouter Université</button>
      </div>
    </form>
  </div>
  