<div class="container">
  <h2>Ajouter une université</h2>
  <form [formGroup]="universiteForm" (ngSubmit)="ajouterUniversite()">
    <div class="form-group">
      <label for="nomUniversite">Nom de l'université:</label>
      <input type="text" id="nomUniversite" formControlName="nomUniversite" required>
    </div>

    <div class="form-group">
      <label for="adresse">Adresse:</label>
      <input type="text" id="adresse" formControlName="adresse" required>
    </div>

    <div class="form-group">
      <label for="etatUniversite">État de l'université:</label>
      <select id="etatUniversite" formControlName="etatUniversite" required>
        <option value="public">Public</option>
        <option value="prive">Privé</option>
      </select>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Ajouter Université</button>
    </div>
  </form>
</div>
