span{
    font-weight: bold;
}


.mdi-grease-pencil{
    color:white;
}


.btn-secondary{
    color: white;
}


.row_stat{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;   
}


.livre-titre{
    font-size: 20px;
}