<div class="container-fluid position-relative">
  <img src="assets/images/univ.jpg" class="img-fluid w-100" alt="Image Alt Text">
  <div class="container">
    
    <h2 class="text-center">Universités</h2>
    <!-- Ajout de la classe float-end pour positionner le bouton en haut à droite -->
    <button (click)="trierUniversitesCroissant()" class="btn btn-light">Trier </button>

    <input type="text" [(ngModel)]="nomUniversiteRecherche" placeholder="Rechercher par nom" class="form-control mb-3" />
    <div class="row justify-content-center">
      <div class="col-md-4" appCardStyling *ngFor="let universite of universites | filter: nomUniversiteRecherche:'nomUniversite'; let i = index ">
        <div class="card mb-4" [ngClass]="{'bg-nude1': i % 2 === 0, 'bg-nude2': i % 2 !== 0}" appCardStyling>
          <div class="card-body text-white">
            
            <!-- Limitez la longueur du titre -->
            <h4 class="card-title" style="max-height: 60px; overflow: hidden; text-overflow: ellipsis;">{{ universite.nomUniversite }}</h4>
            <a>
              <!-- Ajout de la classe float-end pour positionner le bouton en haut à droite -->
              <button (click)="toggleFavori(universite)" class="btn float-end" [ngClass]="{'btn-danger': estFavori(universite), 'btn-light': !estFavori(universite)}">
                <i [ngClass]="{'fa-heart': estFavori(universite), 'fa-heart-o': !estFavori(universite)}" style="font-size: 1.5rem; color: red;"></i>
                <span>{{ estFavori(universite) ? '' : 'Ajouter aux favoris' }}</span>
              </button>
              
            </a>
            <p class="card-text adresse-text">Adresse: {{ universite.adresse }}</p>
            <p class="card-text etat-text">
              État:
              <span [ngClass]="{'badge badge-danger': universite.etatUniversite === 'Prive',
                                'badge badge-info': universite.etatUniversite === 'Public',
                               }">
                {{ universite.etatUniversite }}
              </span>
            </p>
            
            <a [routerLink]="['/front/departement', universite.nomUniversite.toLowerCase()]" class="btn btn-light">Voir les départements</a>
            
          </div>
        </div>
      </div>

      <!-- Icône pour consulter les favoris -->
      <i class="heart-icon" (click)="consulterFavoris()" style="font-size: 2rem; cursor: pointer;">❤️</i>

     
      <div *ngIf="afficherFavoris" class="row justify-content-center mt-3">
        <div class="col-md-4" *ngFor="let universite of universitesFavorites">
          <div class="card mb-4">
            <div class="card-body">
              <!-- Limitez la longueur du titre -->
              <h4 class="card-title" style="max-height: 60px; overflow: hidden; text-overflow: ellipsis;">{{ universite.nomUniversite }}</h4>
              <p class="card-text">Adresse: {{ universite.adresse }}</p>
              <p class="card-text">
                État:
                <span [ngClass]="{'badge badge-danger': universite.etatUniversite === 'Prive',
                                  'badge badge-info': universite.etatUniversite === 'Public',
                                }">
                  {{ universite.etatUniversite }}
                </span>
              </p>
              <button (click)="toggleFavori(universite)">
                <i class="heart-icon" style="font-size: 1.5rem; color: red;">❤️</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
