

 
<div class="content-wrapper ">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Liste des chambres</h4>
            <div *ngIf="msg">
                
              <div class="alert alert-success" role="alert">
                  {{msg}}
              </div>
            </div>

            <div *ngIf="error">
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            </div>
            <div class="table table-hover"   id="content" #content>
              <table class="table  "> 
                 
                <thead >
                  <tr>
                    <th>id</th>
                    <th>numero de Chambre</th>
                    <th>type de Chambre</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
   
                  <tr *ngFor="let chambre of chambreList | async">
                    <td>{{chambre.idChambre }}</td>
                     <td>{{chambre.numeroChambre }}</td>
                    <td>{{chambre.typeChambre | titlecase}}</td>
                      <td style="width: 10%;">
                         <!-- Modify button (modified to be green) -->
                          
  
                                                              <!-- Delete button -->
                                         <button type="button" class="btn btn-danger btn-icon ml-3" (click)="openModalSuppression(chambre.idChambre)">
                                <i class="mdi mdi-delete"></i> Delete
                                                    </button>
  
                    </td>
                  </tr>
                </tbody>
               
              </table>
              <button type="button" class="btn btn-primary " (click)="openModalModification(chambre)">
                    
                <i class="mdi mdi-grease-pencil"></i> Modifier chambre 
           </button>
              <input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">
              <button  class="btn btn-primary " (click)="exportexcel()">Export to Excel</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>    
