<div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Liste des évenements</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Date Début</th>
                    <th>Date Fin</th>
                    <th>Lieu</th>
                    <th>Etat</th>
                    <th>       </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  <tr *ngFor="let evenement of eventList | async">
                    <td>{{evenement.idEvenement}}</td>
                    <td>{{evenement.nomE | titlecase}}</td>
                    <td>{{evenement.dateDebut}}</td>
                    <td>{{evenement.dateFin}}</td>
                    <td>{{evenement.lieu}}</td>
                    <td>{{evenement.etat}}</td>
                    <td>{{evenement.description | titlecase}}</td>
                    <td style="width: 20%;">
                        <button class="btn btn-warning"(click)="modifierEvenement(evenement.idEvenement)" >Modifier</button>
                        <button class="btn btn-danger ml-4" (click)="supprimerEvenement(evenement.idEvenement)">Supprimer</button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>    