.card-title{
    font-weight: 500;
}

.mdi-grease-pencil{
    color: white;
}
section{
 
     
    border: 2px solid black;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;}
    
.container
{ 
 
 
} 
