



<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="../../../../../assets/images/logo.svg" alt="logo">
              </div>
              <h4>Bonjour !</h4>
              <h6 class="font-weight-light">Connectez-vous pour continuer.</h6>
              <form class="pt-3" [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
                <div class="form-group">
                  <input formControlName="email" type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email">
                  <div *ngIf="myControls['email'].touched && myControls['email'].invalid" >
                    <div *ngIf="myControls['email'].errors && myControls['email'].errors['required']" class="error">
                      email Obligatoir
                    </div>
               
                  </div>
                </div>
                <div class="form-group">
                  <input formControlName="password" type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Mot de passe">
                  <div *ngIf="myControls['password'].touched && myControls['password'].invalid" >
                    <div *ngIf="myControls['password'].errors && myControls['password'].errors['password']" class="error">
                      mot de passe Obligatoir
                    </div>
               
                  </div>
                </div>
                <div class="mt-3">
                  <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" [disabled]="loginForm.invalid">Se Connecter</button>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
      
                  <!--<a href="#" class="auth-link text-black">Mot de passe oublié ?</a>-->
                </div>
            
                <div class="text-center mt-4 font-weight-light">
                    Vous n'avez pas de compte ?<a routerLink="/front/register" class="text-primary">Créez-en un</a>
                </div>
              </form>
              <app-alert *ngIf="message" [type]="type" [message]="message"></app-alert>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>