<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ajouter Livre</h4>

            <div *ngIf="msg">
                <div class="alert alert-success" role="alert">
                    {{msg}}
                </div>
            </div>

            <div *ngIf="error">
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            </div>

            <form class="forms-sample" [formGroup]="livreForm" (ngSubmit)="AjouterLivre()">

            <div class="form-group">
                <label for="exampleInputName1">Titre</label>
                <input type="text" class="form-control" id="exampleInputName1" placeholder="Titre" formControlName="titre">
                <div *ngIf="f['titre'].touched">
                    <div *ngIf="f['titre'].errors?.['required']" class="error">
                      <p> <i class="mdi mdi-alert-circle-outline"></i> Veuillez renseigner le titre  </p> 
                      
                    </div>
                    <div *ngIf="f['titre'].errors?.['minlength']" class="error">
                      <p> <i class="mdi mdi-alert-circle-outline"></i> Le titre doit contenir minimum 2 caractéres</p>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="exampleTextarea1">Description</label>
                <textarea class="form-control" id="exampleTextarea1" rows="4" placeholder="Description" formControlName="description"></textarea>
                <div *ngIf="f['description'].touched">
                    <div *ngIf="f['description'].errors?.['required']" class="error">
                      <p> <i class="mdi mdi-alert-circle-outline"></i> Veuillez renseigner la description  </p> 
                      
                    </div>
                    <div *ngIf="f['description'].errors?.['minlength']" class="error">
                      <p> <i class="mdi mdi-alert-circle-outline"></i> La description doit contenir minimum 5 caractéres</p>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="exampleInputName1">Auteur</label>
                <input type="text" class="form-control" id="exampleInputName1" rows="4" placeholder="Auteur" formControlName="nomAuteur">
                <div *ngIf="f['nomAuteur'].touched">
                    <div *ngIf="f['nomAuteur'].errors?.['required']" class="error">
                      <p> <i class="mdi mdi-alert-circle-outline"></i> Veuillez renseigner l'auteur  </p> 
                      
                    </div>
                    <div *ngIf="f['nomAuteur'].errors?.['minlength']" class="error">
                      <p> <i class="mdi mdi-alert-circle-outline"></i> Le nom de l'auteur doit contenir minimum 2 caractéres</p>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="exampleInputName1">Nombre de pages</label>
                <input type="number" class="form-control" id="exampleInputName1" rows="4" placeholder="Nombre de pages" formControlName="nbPages">
                <div *ngIf="f['nbPages'].touched">
                    <div *ngIf="f['nbPages'].errors?.['required']" class="error">
                      <p> <i class="mdi mdi-alert-circle-outline"></i> Veuillez renseigner le nombre de page  </p> 
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputName1">Date de Publication</label>
                <input type="date" class="form-control" id="exampleInputName1" rows="4" placeholder="Date de Publication" formControlName="dateDePublication">
                <div *ngIf="f['dateDePublication'].touched">
                    <div *ngIf="f['dateDePublication'].errors?.['required']" class="error">
                      <p> <i class="mdi mdi-alert-circle-outline"></i> Veuillez renseigner la date de publication </p> 
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="exampleselectName1">Categorie</label>
                <select class="form-control" id="exampleselectName1" formControlName="categorie"> 
                  <option value="" selected disabled >Select a category</option>
                  <option *ngFor="let categorie of categorieList | async" [value]="categorie.idCategorie">
                    {{ categorie.nom | titlecase}}
                  </option>
                </select>

                <div *ngIf="f['categorie'].touched">
                    <div *ngIf="f['categorie'].errors?.['required']" class="error">
                      <p> <i class="mdi mdi-alert-circle-outline"></i> Veuillez renseigner la categorie du livre </p> 
                    </div>
                </div>
            </div> 

             
            <div class="form-group">
                <div class="input-group col-xs-12">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="img[]" formControlName="image" (change)="onFileChanged($event)">
                        <label class="custom-file-label" for="customFile">{{ selectedFile ? selectedFile.name : 'Choisir une image' }}</label>
                    </div>
                </div>
            </div>   
            <button type="submit" class="btn btn-primary mr-2" [disabled]="livreForm.invalid">Ajouter</button>
            </form>
        </div>
        </div>
    </div>
</div>    


