
<section class="pt-5" id="destination" style="width: 900px;">

    <div class="container">
        <div class="position-absolute start-100 bottom-0 translate-middle-x d-none d-xl-block ms-xl-n4"><img
                src="assets/img/dest/shape.svg" alt="destination" /></div>
        
  
        <div class="row" >
            <div class="col-md-4 mb-4" >
                <div class="card overflow-hidden shadow"> <img class="card-img-top" src="{{productin.image}}"
                        style=" height: 190px; width: 400px;" alt="" />
                    <div class="card-body py-4 px-3">
                        <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                            <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link"
                                    (click)="consuletDetail(productin.idFoyer)">{{productin.nomFoyer}}</a></h4><span
                                class="fs-1 fw-medium">{{productin.capaciteFoyer}}</span>
                        </div>
                        <div class="d-flex align-items-center"> <img src="assets/img/dest/navigation.svg"
                                style="margin-right: 14px" width="20" alt="navigation" /><span class="fs-0 fw-medium">10
                                Days Trip</span></div>
                    </div>
                </div>
            </div>
              <div (click)="detail(productin)">Nombre des Foyer : </div>
        </div>
        <div></div>
    </div><!-- end of .container-->

</section>